<h1>Listing alarms</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alarms.each do |alarm| %>
  <tr>
    <td><%= alarm.number %></td>
    <td><%= alarm.description %></td>
    <td><%= link_to 'Show', alarm %></td>
    <td><%= link_to 'Edit', edit_alarm_path(alarm) %></td>
    <td><%= link_to 'Destroy', alarm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>