<h4>Solving steps</h4>
	<ol class="span6">
		{{#each groupedContent}}
			<h5>{{group.key}}</h5>
			{{#each content}}
				<li>
					{{#link-to 'solving_step' this}}
						{{ step }}, created {{momentTime createdAt}}
					{{/link-to}}
					<button {{action 'delete' this}} class="destroy"></button>
				</li>
			{{/each}}
		{{/each}}
	</ol>
<p>
	{{#link-to 'solving_steps.new'}}
		Insert a new solving step
	{{/link-to}}
</p>

{{outlet}}