<h4>Solving steps - <span class="label label-info">{{length}} defined</span></h4>
{{#each groupedContent}}
	<h4>{{length}} steps defined on {{group.key}}</h4>
		{{#each content itemController='solving_step'}}
			<div class="step-container">
				{{#if isEditing}}
					<div class="step-header">
						{{input class="edit" value=bufferedStep}}
					</div>
					<div class="step-content">
						{{textarea class="edit" value=bufferedDescription}}
					</div>
					<button {{action 'acceptChanges'}} class="btn btn-mini btn-success">Save</button>
					<button {{action 'cancelChanges'}} class="btn btn-mini btn-danger">Cancel</button>
				{{else}}	
					<div class="step-header">
						<h5 {{action "editSolvingStep" on="doubleClick"}}>{{step}}</h5>
						<button {{action 'delete' this}} class="destroy" title="Delete step?"></button>
					</div>
					<div class="step-meta">
						<p>
							created {{momentTime createdAt}} by <strong>{{user.firstName}} {{user.lastName}}</strong>
						</p>
					</div>
					<div class="step-content">
						<p {{action "editSolvingStep" on="doubleClick"}}>
							{{description}}
						</p>
					</div>
				{{/if}}
			</div>
		{{/each}}
{{/each}}

<div class="action-block">
	{{#link-to 'solving_steps.new' class="btn btn-info"}}
		<i class="icon-plus icon-white"></i> new step
	{{/link-to}}

	{{outlet}}
</div>