<h2>Solving steps</h2>
	<ul>
		{{#each groupedContent}}
			<p>{{group.key}}</p>
			{{#each content}}
				<li>
					{{ step }}, created {{momentTime createdAt}}
					<button {{action 'delete' this}}>x</button>
				</li>
			{{/each}}
		{{/each}}
	</ul>
<p>
	{{#link-to 'solving_steps.new'}}
		Insert a new solving step
	{{/link-to}}
</p>

{{outlet}}