<h4>Solving steps - <span class="label label-info">{{length}} defined</span></h4>
{{#each groupedContent}}
	<h4>{{length}} steps defined on {{group.key}}</h4>
		{{#each content}}
			<div class="step-container">
				<div class="step-header">
					{{#link-to 'solving_step' this}}
						<h5>{{step}}</h5>
					{{/link-to}}
					<button {{action 'delete' this}} class="destroy" title="Delete step?"></button>
				</div>
				<div class="step-meta">
					<p>
						created {{momentTime createdAt}} by <strong>{{user.firstName}} {{user.lastName}}</strong>
					</p>
				</div>
				<div class="step-content">
				<p>
					{{description}}
				</p>
				</div>
			</div>
		{{/each}}
{{/each}}

<div class="action-block">
	{{#link-to 'solving_steps.new'}}
		Insert a new solving step
	{{/link-to}}

	{{outlet}}
</div>