<div class="container users">
	<h2>Sign up</h2>
	<div class="well" style="width: 220px;">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
		  <div class="control-group">
			<%= f.label(:machine_owner_id, 'Select firm', class: 'control-label') %>
			<div class='controls'>
				<%= f.select(:machine_owner_id, MachineOwner.all.collect { |m| [m.name, m.id] }, :include_blank => true, html: {id: "machine_owners_list"}) %>
			</div>
	      </div>
  		  <div class="control-group">
			<%= f.label(:first_name, 'First name', class: 'control-label') %>
			<div class='controls'>
				<%= f.text_field :first_name %>
			</div>
	      </div>
  		  <div class="control-group">
			<%= f.label(:last_name, 'Last name', class: 'control-label') %>
			<div class='controls'>
				<%= f.text_field :last_name %>
			</div>
	      </div>
  		  <div class="control-group">
			<%= f.label(:phone_number, 'Phone number', class: 'control-label') %>
			<div class='controls'>
				<%= f.text_field :phone_number %>
			</div>
	      </div>
		  <div class="control-group">
		  	<%= f.label :email %>
		  	<div class='controls'>
			  	<%= f.email_field :email, :autofocus => true %>
			</div>
		  </div>

		  <div class="controls">
		  	<%= f.label :password %>
		  	<div class="controls">
			  	<%= f.password_field :password %>
		    </div>
		  </div>

		  <div class="controls">
		  	<%= f.label :password_confirmation %>
		  	<div class="controls">
			  <%= f.password_field :password_confirmation %>
			</div>
		  </div>

		  <div><%= f.submit "Sign up", class: 'btn btn-primary' %></div>
		<% end %>
	</div>
	<%= render "devise/shared/links" %>
</div>