<div class="container users">
	<h2>Sign up a new admin user</h2>
	<div class="well" style="width: 220px;">
		<%= form_for(@admin, :as => :user, :url => admin_registration_path) do |f| %>
		  <%= devise_error_messages! %>
  		  <div class="control-group">
			<%= f.label(:first_name, 'First name', class: 'control-label') %>
			<div class='controls'>
				<%= f.text_field :first_name %>
			</div>
	      </div>
  		  <div class="control-group">
			<%= f.label(:last_name, 'Last name', class: 'control-label') %>
			<div class='controls'>
				<%= f.text_field :last_name %>
			</div>
	      </div>
  		  <div class="control-group">
			<%= f.label(:phone_number, 'Phone number', class: 'control-label') %>
			<div class='controls'>
				<%= f.text_field :phone_number %>
			</div>
	      </div>
		  <div class="control-group">
		  	<%= f.label :email %>
		  	<div class='controls'>
			  	<%= f.email_field :email, :autofocus => true %>
			</div>
		  </div>
		  <div><%= f.submit "Save", class: 'btn btn-primary' %></div>
		<% end %>
	</div>
</div>