<div class='well'>
  <% if @machine_display_name == nil %>
    <div class="control-group">
      <%= f.label(:machine_id, 'Select machine', class: 'control-label') %>
      <div class='controls'>
      <%= f.select(:machine_id, @machines.all.collect { |m| [m.display_name, m.id] }, :include_blank => true, html: {id: "machine_list"}) %>
      </div>
    </div>
    <% else %>
    <%= f.hidden_field(:machine_id, :value => @event.machine_id) %>
  <% end %>

  <div class="control-group">
    <%= f.label(:event_date, 'Date of the event', class: 'control-label') %>  
    <div class='controls'>
      <%= f.text_field :event_date, :value => Date.today.strftime('%d.%m.%Y'), id: 'event_date' %>
    </div>
  </div>

  <div class="control-group">
      <%= f.label(:hour_counter, 'Hour counter', class: 'control-label') %>
    <div class='controls'>
      <%= text_field_tag :hour_counter, hc %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:event_type, 'Choose the machine status') %>
    <label class='radio'>
      <%= f.radio_button(:event_type, '1') %>
      <%= label_tag(:event_type, 'Machine stopped') %>
    </label>
    <label class='radio'>
      <%= f.radio_button(:event_type, '2') %>
      <%= label_tag(:event_type, 'Machine is working with problems') %>
    </label>
    <label class='radio'>
      <%= f.radio_button(:event_type, '3') %>
      <%= label_tag(:event_type, 'Other') %>
    </label>
  </div>  
  <div class="control-group">
    <%= f.label(:alarm_code, 'Error codes definition', class: 'control-label') %>
    <div class="controls input-append">
      <%= text_field_tag :alarm_code, nil,:placeholder => "insert alarm code only" %>
      <button id="acjs" class="btn" type="button">Insert alarm</button>
    </div>
    <div id="acdp" style="display: block">
      <% @event.alarms.each do |alarm| %>
        <p class="alarm_code_add" data-alarmnumber="<%= alarm.number %>"><%= alarm.number %> - <%= alarm.text %></p>
        <input id="alarms" multiple="multiple" name="alarms[]" type="hidden" value="<%= alarm.id %>" />
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label(:event_description, 'Event description', class: 'control-label') %>
    <div class="controls">
      <%= f.text_area :event_description, :id => 'event_description' %>
    </div>
  </div>
  <%= submit_tag("Save", class: 'btn btn-primary') %>
</div>