<%= form_for @event, :html => { :multipart => true }, :url => {:action => "create_evaluate"}, :method => "put" do |f| %>

		<% if @event.errors.any? %>
			<% @event.errors.delete(:password_digest) %>
			<div id="error_explanation">
				<div class="alert alert-error">
					The form contains <%= pluralize(@event.errors.count, "error") %>
				</div>
				<ul>
					<% @event.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	
	<%= f.hidden_field :parent_event, value: nil %>

	<div class="control-group">
		<%= f.label(:recurrent, 'Recurrent event?') %>
		<label class='radio'>
			<%= f.radio_button(:recurrent, true) %>
			<%= label_tag(:recurrent, 'True') %>
		</label>
		<label class='radio'>
			<%= f.radio_button(:recurrent, false, :checked => false) %>
			<%= label_tag(:recurrent, 'False') %>
		</label>
		<%= render(:partial => "evaluate_modal", :locals => { :event => @event }) %>
	</div>

	<div class="control-group">
    <%= f.label :alarms, 'Error codes', class: 'control-label' %>
    <div class="controls input-append">
      <%= text_field_tag :alarm_code, nil,:placeholder => "insert alarm code only" %>
      <button id="acjs" class="btn" type="button">Insert alarm</button>
    </div>
	    <div id="acdp" style="display: block">
		    <%= f.fields_for :alarms do |alarm| %>
			    <% if alarm.object.persisted? %>
			        <p class="alarm_code_add" data-alarmnumber="<%= alarm.object.number %>"><%= alarm.object.number %> - <%= alarm.object.text %></p>
			        <%= alarm.hidden_field :id, :multiple => true, :name => "service_event[alarm_ids][]", value: alarm.object.id %>
		        <% end %>
		    <% end %>
	    </div>
	</div>

	<div class="control-group">
		<%= f.label(:evaluation_description, 'Event evaluation details', class: 'control-label') %>
		<div class="controls">
			<%= f.text_area :evaluation_description, :id => 'event_description' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :service_event_files, 'Event related files' %>
		<div class="file-container">
			<%= f.fields_for :service_event_files do |file| %>
				<% if file.object.persisted? %>
					<div class="file-container-object">
						<%= file.check_box :_destroy %>
						<%= image_tag file.object.file.url %>
					</div>
				<% else %>
					<br />
					<div class="btn btn-success">
						<span><i class="icon-plus icon-white"></i> Add files...</span>
						<%= file.file_field :file, multiple: true, name: "service_event[service_event_files_attributes][0][file]" %>
					</div>
					<div class="btn btn-danger" id="file-remove">
						<span><i class="icon-trash icon-white"></i> Delete</span>
					</div>
					<div class="btn btn-primary" id="file-submit">
						<span><i class="icon-upload icon-white"></i> Upload files</span>
					</div>
				<% end %>
			<% end %>
			<div class="progress">
				<p></p>
				<div class="bar"></div>
			</div>
		</div>
	</div>

	<%= f.submit("Save", class: 'btn btn-primary') %>
<% end %>