<%= form_for @event, :html => { :multipart => true }, :url => {:action => "create_evaluate"}, :method => "put" do |f| %>
	
	<%= f.hidden_field :parent_event, value: @event.parent_event %>

	<div class="control-group">
		<%= f.label(:recursive, 'Recurrent event?') %>
		<label class='radio'>
			<%= f.radio_button(:recursive, true) %>
			<%= label_tag(:recursive, 'True') %>
		</label>
		<label class='radio'>
			<%= f.radio_button(:recursive, false, :checked => false) %>
			<%= label_tag(:recursive, 'False') %>
		</label>
		<%= render(:partial => "evaluate_modal", :locals => { :event => @event }) %>
	</div>

	<div class="control-group">
    <%= f.label(:alarm_code, 'Error codes', class: 'control-label') %>
	    <div class="controls input-append">
	      <%= text_field_tag :alarm_code, nil,:placeholder => "insert alarm code only" %>
	      <button id="acjs" class="btn" type="button">Insert alarm</button>
	    </div>
	    <div id="acdp" style="display: block">
	      <% @event.alarms.each do |alarm| %>
	        <p class="alarm_code_add" data-alarmnumber="<%= alarm.number %>"><%= alarm.number %> - <%= alarm.text %></p>
	        <input id="alarms" multiple="multiple" name="alarms[]" type="hidden" value="<%= alarm.id %>" />
	      <% end %>
	    </div>
	</div>

	<div class="control-group">
		<%= f.label(:evaluation_description, 'Event evaluation details', class: 'control-label') %>
		<div class="controls">
			<%= f.text_area :evaluation_description, :id => 'event_description' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :service_event_files, 'Event related files' %>
		<div class="file-container">
			<%= f.fields_for :service_event_files do |file| %>
				<% if file.object.persisted? %>
					<div class="file-container-object">
						<%= file.check_box :_destroy %>
						<%= image_tag file.object.file.url %>
					</div>
				<% else %>
					<div class="btn btn-success">
						<span><i class="icon-plus icon-white"></i> Add files...</span>
						<%= file.file_field :file %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

	<%= f.submit("Save", class: 'btn btn-primary') %>
<% end %>