<%= render(:partial => 'shared/flash_show') %>
<h2>Service events list</h2>
<table cellpadding="0" cellspacing="0" border="0" id="service_events_list" class="table table-striped table-bordered">
  <thead>
      <tr>
        <th>#</th>
        <th>Event name</th>
        <th>Event type</th>
        <th>Machine</th>
        <th>Time of event</th>
      </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td></td>
        <td><%= link_to event.event_name, service_event_path(event) %></td>
        <td><%= event_type(event) %></td>
        <td><%= event.machine.display_name %></td>
        <td><%= date_format(event.created_at, time: true) %></td>
        <% end %>
      </tr>
  </tbody>
</table>