<h2>Define new machine event <%= @machine.display_name %></h2>
<div class='well'>
	<%= form_for [@machine, @event], html: {id: "new_event"} do |f| %>

	<%= render partial 'new_event_unscoped' if @machine.nil? %>

	<div class="control-group">
		<%= f.label(:event_date, 'Date of the event', class: 'control-label') %>	
		<div class='controls'>
			<%= f.text_field :event_date, :value => Date.today.strftime('%d.%m.%Y'), id: 'event_date' %>
		</div>
	</div>

	<div class="control-group">
			<%= f.label(:hour_counter, 'Hour counter', class: 'control-label') %>
		<div class='controls'>
			<%= f.text_field :hour_counter, :id => 'hour_counter' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label(:event_type, 'Choose the machine status') %>
		<label class='radio'>
			<%= f.radio_button(:event_type, '1') %>
			<%= label_tag(:event_type, 'Machine stopped') %>
		</label>
		<label class='radio'>
			<%= f.radio_button(:event_type, '2') %>
			<%= label_tag(:event_type, 'Machine is working with problems') %>
		</label>
		<label class='radio'>
			<%= f.radio_button(:event_type, '3') %>
			<%= label_tag(:event_type, 'Other') %>
		</label>
	</div>

	<div class="control-group">
		<%= f.label(:alarm_code, 'Error codes definition', class: 'control-label') %>
		<div class="controls input-append">
			<%= text_field_tag :alarm_code, nil,:placeholder => "insert alarm code only" %>
			<button id="acjs" class="btn" type="button">Insert alarm</button>
		</div>
		<div id="acdp"></div>
	</div>

	<div class="control-group">
		<%= f.label(:event_description, 'Event description', class: 'control-label') %>
		<div class="controls">
			<%= f.text_area :event_description, :id => 'event_description' %>
		</div>
	</div>

	<div class="control-group">
		<% f.fields_for :service_event_files do |file| %>
			<%= file.label :file, "Attach files to event" %>
			<%= file.file_field :file %>
		<% end %>
	</div>
	<%= submit_tag("Save", class: 'btn btn-primary') %>
<% end %>
</div>