<h2>New machine event <%= @machine.display_name %></h2>
<div class='well'>
	<%= form_for [@machine, @event], html: {id: "new_event"} do |f| %>
	<%= render partial 'new_event_unscoped' if @machine.nil? %>

	<div class="control-group">
		<%= f.label(:event_date, 'Date of the event', class: 'control-label') %>	
		<div class="input-append date" id="event_date">
			<%= f.text_field :event_date, :value => Date.today.strftime('%d.%m.%Y'),readonly: true %>
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
	</div>

	<div class="control-group">
			<%= f.label(:hour_counter, 'Hour counter', class: 'control-label') %>
		<div class='controls'>
			<%= f.text_field :hour_counter, :id => 'hour_counter' %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label(:event_type, 'Choose the machine status') %>
		<label class='radio'>
			<%= f.radio_button(:event_type, '1') %>
			<%= label_tag(:event_type, 'Machine stopped') %>
		</label>
		<label class='radio'>
			<%= f.radio_button(:event_type, '2') %>
			<%= label_tag(:event_type, 'Machine is working with problems') %>
		</label>
		<label class='radio'>
			<%= f.radio_button(:event_type, '3') %>
			<%= label_tag(:event_type, 'Other') %>
		</label>
	</div>

	<div class="control-group">
		<%= label_tag 'Do you know root cause(s)?' %>
		<label class='radio'>
			<%= radio_button_tag 'cause', 'yes' %>
			<%= label_tag 'cause','Yes' %>
		</label>
		<label>Insert new cause</label>
		<input type="text" placeholder="Type something…">
		<label class='radio'>
			<%= radio_button_tag 'cause', 'no' %>
			<%= label_tag 'cause','No' %>
		</label>
	</div>

	<div class="control-group">
		<%= f.label(:alarm_code, 'Error codes definition', class: 'control-label') %>
		<div class="controls input-append">
			<%= text_field_tag :alarm_code, nil, :placeholder => "insert alarm code only", data: {path: new_machine_service_event_path(@machine) } %>
			<button id="acjs" class="btn" type="button">Insert alarm</button>
		</div>
		<div id="acdp"></div>
	</div>

	<%= submit_tag("Save", class: 'btn btn-primary') %>
<% end %>
	
	<%= form_for @files, multipart: true, remote: true do |f| %>
		<div class="control-group">
			<%= f.label(:file, 'Event related files', class: 'control-label') %>
			<div class="file-container">
				<br />
				<div class="btn btn-success">
					<span><i class="icon-plus icon-white"></i> Add files...</span>
					<%= f.file_field :file, multiple: true, name: "service_event_file[file]" %>
				</div>
				<div class="btn btn-danger" id="file-remove">
					<span><i class="icon-trash icon-white"></i> Delete</span>
				</div>
				<div class="btn btn-primary" id="file-submit">
					<span><i class="icon-upload icon-white"></i> Upload files</span>
				</div>
				<div class="progress">
					<p></p>
					<div class="bar"></div>
				</div>
			</div>
		</div>
	<% end %>
</div>