<h3>Event <%= @event.event_name %></h3>

<table class="event-table">
	<tbody>
		<tr>
			<td colspan="2">Machine details</td>
		</tr>
		<tr>
			<td>Manufacturer</td>
			<td><%= @event.machine.manufacturer.name %></td>
		</tr>
		<tr>
			<td>Type</td>
			<td><%= @event.machine.machine_type %></td>
		</tr>    
		<tr>
			<td>Number</td>
			<td><%= @event.machine.machine_number %></td>
		</tr>
		<tr>
			<td>Short uniq name</td>
			<td><%= @event.machine.display_name %></td>
		</tr>
		<tr>
			<td>Delivery date</td>
			<td><%= @event.machine.delivery_date %></td>
		</tr>
		<tr>
			<td>Waranty period?</td>
			<td><%= @event.machine.waranty_boolean %></td>
		</tr>
		<tr>
			<td colspan="2">Client details</td>
		</tr>
		<tr>
			<td>Name</td>
			<td><%= @event.machine.machine_owner.name %></td>
		</tr>
		<tr>
			<td>Address</td>
			<td><%= @event.machine.machine_owner.address %></td>
		</tr>
		<tr>
			<td>City</td>
			<td><%= @event.machine.machine_owner.city %></td>
		</tr>
		<tr>
			<td>Postal code</td>
			<td><%= @event.machine.machine_owner.postal_code %></td>
		</tr>
		<tr>
			<td colspan="2">Event details</td>
		</tr>
		<tr>
			<td>Number</td>
			<td><%= @event.event_name %></td>
		</tr>
		<tr>
			<td>Date</td>
			<td><%= @event.event_date %></td>
		</tr>
		<tr>
			<td>Reported by:</td>
			<td><%= @event.user.full_name %></td>
		</tr>
		<tr>
			<td>Type</td>
			<td><%= event_type(@event) %></td>
		</tr>
		<tr>
			<td rowspan="<%= @event.alarms.count if @event.alarms.count > 0 %>">
				Alarms
			</td>
			<% alarm_arr = @event.alarms %>
			<% if alarm_arr.empty? %>
				<td>
					No alarms reported
				</td>
		</tr>
			<% else %>
			<% first_alarm = alarm_arr.shift %>
				<td>
					<%= first_alarm.number.to_s + ' - ' + first_alarm.text %>
				</td>
			</tr>
			<% if alarm_arr.length > 0  %>
				<% alarm_arr.each do |alarm| %>
					<tr>
						<td class="td-alarm-reset">
							<%= alarm.number.to_s + ' - ' + alarm.text %>
						</td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
		<tr>
			<td colspan="2">Event description</td>
		</tr>
		<tr>
			<td colspan="2" class="event-description">
				<%= @event.event_description %>
			</td>
		</tr>
	</tbody>
</table>
<h3>Event evaluation details</h3>

<table class="event-table">
	<tbody>
		<tr>
			<td colspan="6">
				Event files
			</td>
		</tr>

		<tr>
			<td rowspan=<%= rowspan_files(@event) %>>Pictures</td>
		</tr>
		
		<% @event.service_event_files.each_slice(4) do |set| %>
			<tr>	
				<% set.each do |file| %>
					<td style="width: inherit;">
						<%= link_to file.file.url.to_s do %>
							<%= image_tag file.file.url(:thumb).to_s %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="btn-group" style="margin-top: 10px;">
	<%= evaluate_event_button(@event) %>
</div>