<div class="button-group">
	<% if admin_user %>
		<%= link_to "New admin user", "#", :class => "btn btn-primary" %>
	<% else %>
		<%= link_to "New client user", cp_new_users_path, :class => "btn btn-primary" %>
	<% end %>
	<a href="#" class="btn btn btn-warning">Suspend user</a>
	<a href="#" class="btn btn-danger">Delete user</a>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Enabled</th>
			<th>Activated</th>
			<th>Email</th>
			<th>Last visit date</th>
			<th>Registration date</th>
			<th>Registered by</th>
		</tr>
	</thead>
	<tbody>
		<% users.each do |t| %>
			<tr>
				<td><%= 1 %></td>
				<td><%= link_to t.full_name, "#", :data => {:toggle => "tooltip"}, :title => "click to edit " + t.full_name, :id => "user_list" %></td>
				<td>Yes</td>
				<td>Yes</td>
				<td><%= t.email %></td>
				<td><%= 'to be created' %></td>
				<td><%= t.created_at %></td>
				<td>Ionut Ciobanu</td>
			</tr>
		<% end %>
	</tbody>
</table>
