<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Event name</th>
			<th>Event ID</th>
			<th>Created by</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% event_listing.each do |t| %>
			<tr>
				<td><%= row_number+=1 %></td>
					<td><%= link_to service_event_path(t.id) do %>
							<%= t.event_name %>
						<% end %>
					</td>
				<td><%= t.event_date.strftime("%d.%m.%Y") %></td>
				<td><%= t.user_id %></td>
				<td><%= t.state %></td>
			</tr>
		<% end %>
	</tbody>
</table>