control panel for:
<br>
1. manage users
<br>
2. manage manufacturers
<br>
3. manage owners
<br>
4. manage machines
<br>
5. manage alarms
<br>
6. manage hour counter
<br>
<%= link_to "#", :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "user" %>
		<p>Manage users</p>
	</div>
<% end %>
<%= link_to "#", :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "gear" %>
		<p>Machine manufacturers</p>
	</div>
<% end %>
<%= link_to "#", :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "briefcase" %>
		<p>Machine owners</p>
	</div>
<% end %>
<%= link_to "#", :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "gears" %>
		<p>Machines</p>
	</div>
<% end %>
<%= link_to "#", :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "exclamation" %>
		<p>Machine alarms</p>
	</div>
<% end %>
<%= link_to "#", :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "clock-o" %>
		<p>Machine hour counter</p>
	</div>
<% end %>
<%= link_to "#", :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "flag-o" %>
		<p>Machine events</p>
	</div>
<% end %>

