<%= link_to users_path, :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "user" %>
		<p>Manage users</p>
	</div>
<% end %>
<%= link_to manufacturers_path, :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "gear" %>
		<p>Machine manufacturers</p>
	</div>
<% end %>
<%= link_to machine_owners_path, :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "briefcase" %>
		<p>Machine owners</p>
	</div>
<% end %>
<%= link_to machine_groups_path, :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "gears" %>
		<p>Machine groups</p>
	</div>
<% end %>

<%= link_to service_events_path, :class => "link_reset" do %>
	<div class="control-panel-block link-reset">
		<%= fa_icon "flag-o" %>
		<p>Machine events</p>
	</div>
<% end %>

