<% @machines.each do |manufacturer, category| %>
	<h1><%= manufacturer %></h1>
	<% category.each do |category, types| %>
		<h3><%= category %></h3>
		<% types.each do |type, versions| %>
			<h4><%= type %></h4>
			<% versions.each do |version, machine_collection| %>
				<h5><%= version %></h5>
				<% machine_collection.each do |machine| %>
					<%= link_to machine_service_events_path(machine), :class => "link_reset" do %>
						<%= render :partial => 'machine', :locals => { :machine => machine } %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>