<h2><%= firm.name %> details</h2>
<table class="service-table">
	<tbody>
		<tr>
			<td colspan="2">
				Address
			</td>
		</tr>
		<tr>
			<td>
				Name:
			</td>
			<td>
				<%= firm.name %>
			</td>
		</tr>
		<tr>
			<td>
				Country:
			</td>
			<td>
				<%= firm.country %>
			</td>
		</tr>
		<tr>
			<td>
				City:
			</td>
			<td>
				<%= firm.city %>
			</td>
		</tr>
		<tr>
			<td>
				Postal code:
			</td>
			<td>
				<%= firm.postal_code %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Contact
			</td>
		</tr>
		<tr>
			<td>
				Telephone:
			</td>
			<td>
				<%= firm.office_tel %>
			</td>
		</tr>
		<tr>
			<td>
				Fax:
			</td>
			<td>
				<%= firm.fax %>
			</td>
		</tr>
		<tr>
			<td>
				E-mail:
			</td>
			<td>
				<%= firm.office_mail %>
			</td>
		</tr>
		<tr>
			<td>
				Mobile:
			</td>
			<td>
				<%= firm.mobile %>
			</td>
		</tr>
	</tbody>
</table>

<% if firm.users.count > 0 %>
	<h4>Users</h4>
	<table class="service-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Phone</th>
				<th>E-mail</th>
			</tr>
		</thead>
		<tbody>
			<% firm.users.each_with_index do |user, i| %>
				<tr>
					<td>
						<%= i+1 %>
					</td>
					<td>
						<%= user.full_name %>
					</td>
					<td>
						<%= user.phone_number %>
					</td>
					<td>
						<%= user.email %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>	

<%= link_to [:edit, firm], class: "btn btn-primary" do %>
	<i class='icon-pencil icon-white'></i>
	Edit <%= params[:controller].humanize.downcase.singularize %>
<% end %>
