<h2>Define new machine event</h2>
<%= form_for(:event, :url => {:action => 'create'}, html: {id: "new_event"}) do |f| %>
	<%= f.select(:machine_id, Machine.all.collect { |m| [m.display_name, m.id] }, :include_blank => true, html: {id: "machine_list"}) %>
	<br />
	<div class='input-append date' id='event_date'>
		<%= f.label(:event_date, 'Date of the event') %>	
		<%= f.text_field :event_date, :value => Date.today.strftime('%d.%m.%Y') %>
		<span class="add-on"><i class="icon-th"></i></span>
	</div>
	<br />
		<%= f.label(:hour_counter, 'Hour counter') %>
		<%= f.text_field :hour_counter, :id => 'hour_counter' %>
	<div class='well'>
		<label class='radio'>
			<%= f.radio_button(:event_type, '1') %>
			<%= label_tag(:event_type, 'Machine stopped') %>
		</label>
		<label class='radio'>
			<%= f.radio_button(:event_type, '2') %>
			<%= label_tag(:event_type, 'Machine is working with problems') %>
		</label>
		<label class='radio'>
			<%= f.radio_button(:event_type, '3') %>
			<%= label_tag(:event_type, 'Other') %>
		</label>
	</div>
	<h4>Error codes definition</h4>
	<div class="input-append">
		<%= f.text_field :alarm_code, :id => 'alarm_code' %>
		<button class="btn" type="button">Insert alarm</button>
	</div>
	<br />
	<h4><%= f.label(:event_description, 'Event description') %></h4>
	<%= f.text_area :event_description, :id => 'event_description' %>
	<%= submit_tag("Save") %>
<% end %>

