<% if !flash[:notice].blank? %>
<div class="alert alert-success distantier-alerta">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<%= flash[:notice] %>
</div>
<% end %>

<h1><%= @machine.display_name %> details</h1>

<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Machine type :</label>
    <div class="controls fix_LineHeight">
      <%= @machine.machine_group.name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Machine number :</label>
    <div class="controls fix_LineHeight">
      <%= @machine.machine_number %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Display name :</label>
    <div class="controls fix_LineHeight">
      <%= @machine.display_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Machine manufacturer :</label>
    <div class="controls fix_LineHeight">
      <% if @machine.manufacturer == nil %>
      <%= 'None' %>
      <% else %>
      <%= @machine.manufacturer.name %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Machine owner :</label>
    <div class="controls fix_LineHeight">
      <% if @machine.machine_owner == nil %>
      <%= 'None' %>
      <% else %>
      <%= @machine.machine_owner.name %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Delivery date :</label>
    <div class="controls fix_LineHeight">
      <%= @machine.delivery_date.strftime("%d.%m.%Y") %>
  </div>
</div>
  <div class="control-group">
    <label class="control-label">Waranty period :</label>
    <div class="controls fix_LineHeight">
      <%= @machine.waranty_period%>
    </div>
  </div>
</div>
	
<div class="spatiu-sus-jos">
  
<%= link_to(raw("<i class='icon-pencil'></i><span class='spatiu-st-dr-link-cu-iconita'>Edit machine</span>"), {:action => 'edit', :id => @machine.id}, {:class => 'btn btn-primary'}) %>
</div>