<!DOCTYPE html>
<html>
	<head>
	  <title>Service</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to "Service", root_path, :class => "brand brand-custom" %>
          <div class="nav-collapse collapse">
            <div class="dropdown pull-right">
              <% if user_signed_in? %>
                    <p class="navbar-text" style="display: inline;">
                      <span class="badge badge-important event-notification-bullet" title="pending events">
                        <%= check_user_admin? %>
                      </span> 
                      Logged in as
                    </p>
                    <%= link_to current_user.full_name, '#', :class => 'navbar-link dropdown-toggle', :data => { :toggle => "dropdown" } %>
                    <ul class="dropdown-menu" role="menu" aria-labeledby="dLabel">
                      <li>
                        <%= link_to "#" do %>
                          <i class="icon-cog"></i> Control Panel 
                        <% end %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to edit_user_registration_path do %>
                          <i class="icon-wrench"></i> Profile settings
                        <% end %>
                      </li>
                      <li>
                          <%= link_to destroy_user_session_path do %>
                            <i class="icon-off"></i> Logout 
                          <% end %>
                      </li>
                    </ul>
                    <% else %>
                      <p class="navbar-text" style="display: inline;">
                        <%= link_to "Login", new_user_session_path %>
                      </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
		<!-- <div class="container margin-top-container"> -->
		  <% flash.each do |type, message| %>
		  	<div class="alert <%= flash_class type %>">
		  		<button class="close" data-dismiss="alert">x</button>
		  		<%= message %>
	  		</div>	
		  <% end %>		
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Events</li>
              <%= active_link_to "Events list", service_events_path , :active => :exclusive, :wrap_tag => :li %>
              <%= active_link_to "New event", new_service_event_path , :active => :exclusive, :wrap_tag => :li %>
              <li class="nav-header">Machines</li>
              <%= active_link_to "Machines list", machines_path , :active => :exclusive, :wrap_tag => :li %>
              <%= active_link_to "New machine", new_machine_path , :active => :exclusive, :wrap_tag => :li %>
              <li class="nav-header">Manufacturers</li>
              <%= active_link_to "Manufacturers list", manufacturers_path , :active => :exclusive, :wrap_tag => :li %>
              <%= active_link_to "New manufacturer", new_manufacturer_path , :active => :exclusive, :wrap_tag => :li %>
              <li class="nav-header">Machine owners</li>
              <%= active_link_to "Machine Owners list", machine_owners_path , :active => :exclusive, :wrap_tag => :li %>
              <%= active_link_to "New machine owner", new_machine_owner_path , :active => :exclusive, :wrap_tag => :li %>
              <li class="nav-header">Machine owners</li>
              <%= active_link_to "Alarms list", alarms_path , :active => :exclusive, :wrap_tag => :li %>
              <%= active_link_to "New alarm", new_alarm_path , :active => :exclusive, :wrap_tag => :li %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; International G&amp;T</p>
      </footer>
    </div><!--/.fluid-container-->
	</body>
</html>
