<!DOCTYPE html>
<html>
	<head>
	  <title>Service</title>
	  <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
  <%= render "shared/navbar" %>
		<!-- <div class="container margin-top-container"> -->
		  <% flash.each do |type, message| %>
		  	<div class="alert <%= flash_class type %>">
		  		<button class="close" data-dismiss="alert">x</button>
		  		<%= message %>
	  		</div>	
		  <% end %>		
    <div class="container">
      <div class="row-fluid" style="min-height: 500px;">
        <div class="span12">
          <%= yield %>
        </div><!--/span-->
      </div>
      <!--/row-->
      <hr>
      <footer>
        <p>&copy; International G&amp;T</p>
      </footer>
    </div><!--/.fluid-container-->
	</body>
</html>
